body {
    text-align: center
}

.panel {
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 20%;
}

#img-output {
    display: block;
    text-align: center;
    margin: auto;
}

#poops {
    height: 55px;
}